@import '../../../../../scss/variables';

// .logoCerchioHR {
//   max-width: 50%; /* Make sure the image does not exceed the width of its container */
//   height: auto;
//   display: block;
//   margin: 0 auto;
// }

// .btnlogin {
//   color: white !important;
//   font-size: 1.3rem;
// }

.auth-form {
  background: var(--accent-300);
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.text-center {
  text-align: center;
}

.m-b-25 {
  margin-bottom: 25px;
}

.mt-25 {
  margin-top: 25px;
}

.m-t-5 {
  margin-top: 5px;
}

.f-20 {
  font-size: 20px;
}

.f-w-500 {
  font-weight: 500;
}

.w-100 {
  width: 100%;
}

.btnlogin {
  width: 100%;
}

.li {
  color: white;
  margin: auto;
}

.holder {
  color: var(--text-color);
}

.social-login {
  width: 100%;
  margin-bottom: 20px;
}

.separator {
  margin: 20px 0;
  font-size: 14px;
  color: var(--accent-500);
  position: relative;
}

.separator::before,
.separator::after {
  content: '';
  height: 1px;
  width: 30%;
  background: var(--accent-300);
  position: absolute;
  top: 50%;
}

.separator::before {
  left: 0;
}

.separator::after {
  right: 0;
}

.error-message {
  color: red;
  margin-top: 10px;
}

input,
textarea,
select,
label {
  color: var(--text-color) !important;
  border: 1px solid var(--accent-300) !important;
}

mat-label {
  color: var(--text-color) !important;
}

.mat-form-field {
  .mat-form-field-label {
    color: var(--text-color) !important;
  }
  .mat-input-element {
    color: var(--text-color) !important;
  }
  .mat-form-field-outline {
    .mat-form-field-outline-start,
    .mat-form-field-outline-end {
      border-color: var(--accent-300) !important;
    }
  }
}
