@import '../../../../scss/variables';

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--accent-50);
  color: var(--text-color);
}

th,
td {
  border: 1px solid var(--accent-100);
  padding: 8px;
  text-align: center;
}

th {
  background-color: var(--accent-300);
}

th:first-child {
  border-top-left-radius: 10px;
}

th:last-child {
  border-top-right-radius: 10px;
}

td:first-child {
  border-bottom-left-radius: 10px;
}

td:last-child {
  border-bottom-right-radius: 10px;
}
