<div>
  <table>
    <tr>
      <th>TOTAL LINES</th>
      <th>TOTAL MACHINES</th>
      <th>TOTAL TARGET</th>
      <th>TOTAL OUTPUT</th>
      <th>TOTAL WORKERS</th>
      <th>TOTAL REJ %</th>
    </tr>
    <tr>
      <td>{{ smallTableData?.TOTAL_LINES }}</td>
      <td>{{ smallTableData?.TOTAL_MACHINES }}</td>
      <td>{{ smallTableData?.TOTAL_TARGET }}</td>
      <td>{{ smallTableData?.TOTAL_OUTPUT }}</td>
      <td>{{ smallTableData?.TOTAL_ACTIVE_CADRE }}</td>
      <td>{{ smallTableData?.AVG_REJECTION_PERC }} %</td>
    </tr>
  </table>
</div>
