<app-card [showHeader]="false">
  <div class="flex align-item-center">
    <div class="flex-shrink-0">
      <div class="avatar avatar-s bg-primary-50 text-primary-500">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="1.75"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-checks"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M7 12l5 5l10 -10" />
          <path d="M2 12l5 5m5 -5l5 -5" />
        </svg>
      </div>
    </div>
    <div class="flex-grow-1 card-head">
      <h5 class="m-b-0 f-w-600">Checked Quantity</h5>
    </div>
  </div>
  <div class="chart-body">
    <div class="m-t-15 row align-item-center">
      <div class="col-7">
        <apx-chart
          [series]="checkedQtyChart.series!"
          [chart]="checkedQtyChart.chart!"
          [colors]="preset"
          [plotOptions]="checkedQtyChart.plotOptions!"
          [xaxis]="checkedQtyChart.xaxis!"
          [tooltip]="checkedQtyChart.tooltip!"
        >
        </apx-chart>
      </div>
      <div class="col-5 text-end">
        <h5 class="m-b-5">{{ avgCheckedQty.toFixed(0) }}</h5>
        <h6 class="text-primary-500 m-b-0"><i class="ti ti-arrow-up-right"></i> {{ percentage.toFixed(2) }} %</h6>
      </div>
    </div>
  </div>
</app-card>
